*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.heading-secondary {
  font-size: 4.8rem;
  letter-spacing: -0.8px;
  color: #000;
  margin-bottom: 1.6rem;
}

.margbtm-hero-big {
  margin-bottom: 5.6rem;
}

.margbtm-hero-smll {
  margin-top: 1.6rem;
}

.padding-left {
  padding-left: 7.2rem !important;
}

.padding-right {
  padding-right: 7.2rem !important;
}

.about-box {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  padding: 1.3rem;
  background-color: #fff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.about-box:hover {
  transform: scale(1.05);
}
.about-box--head {
  background-color: #4a154b;
  color: #fff;
}
.about-box__img-box {
  margin-bottom: 2rem;
}
.about-box__subheading {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.about-box__subheading--head {
  margin-top: 1.6rem;
}
.about-box__heading {
  font-size: 2.2rem;
  margin-bottom: 6rem;
}
.about-box__cta {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.about-box__cta-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #1264a3;
  font-weight: 700;
}
.about-box__cta-text--head {
  color: #fff;
}
.about-box__cta-icon {
  width: 2rem;
  height: 2rem;
  fill: #1264a3;
}
.about-box__cta-icon--head {
  fill: #fff;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  border-radius: 4px;
}
.btn:focus {
  outline: #611f69 dotted 2px;
  outline-offset: 5px;
}
.btn--primary:link, .btn--primary:visited {
  color: #611f69;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #611f69;
  transition: all 0.3s;
}
.btn--primary:hover {
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--primary:active, .btn--primary:focus {
  background-color: #611f69;
  color: #fff;
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--google {
  position: relative;
  padding-left: 6rem;
  padding-right: 2rem;
}
.btn--google img {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  background-color: #fff;
  padding: 1.3rem;
  top: 0.4rem;
  left: 0.4rem;
}
.btn--google:link, .btn--google:visited {
  color: #fff;
  background-color: #4285f4;
  transition: all 0.3s;
}
.btn--google:active, .btn--google:focus {
  color: #4285f4;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #4285f4;
}
.btn--violet:link, .btn--violet:visited {
  background-color: #611f69;
  color: #fff;
  transition: all 0.3s;
}
.btn--violet:hover, .btn--violet:active {
  background-color: #4a154b;
}
.btn--border-violet:link, .btn--border-violet:visited {
  box-shadow: inset 0 0 0 1px #611f69;
  transition: all 0.3s;
}
.btn--border-violet:hover {
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--border-violet:active {
  background-color: #611f69;
  color: #fff;
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--border-white:link, .btn--border-white:visited {
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  transition: all 0.3s;
}
.btn--border-white:hover {
  box-shadow: inset 0 0 0 2px #fff;
}
.btn--border-white:active {
  background-color: #fff;
  color: #611f69;
  box-shadow: inset 0 0 0 2px #fff;
}

.feature-box {
  padding: 3rem 0;
  font-weight: 500;
}
.feature-box__text {
  font-size: 1.8rem;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.link-btn:link, .link-btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #1264a3;
  text-decoration: none;
  position: relative;
}
.link-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  color: #1264a3;
  background-color: #1264a3;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.link-btn:hover::after {
  color: #000;
  transform: scaleX(1);
}

.story {
  display: grid;
  grid-template-columns: 50% 49%;
  gap: 1.6rem;
  align-items: center;
}
.story__vid video {
  width: 100%;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.story__content {
  padding: 3.2rem 3.2rem 1.2rem 3.2rem;
}
.story__quote {
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: -0.3px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.6rem;
}
.story__customer {
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}
.story__customer-name {
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.story__customer-title {
  font-weight: 400;
}

.grid-hero {
  display: grid;
  grid-template-columns: 53% 45%;
  gap: 2%;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56rem, 45%));
  gap: 10rem;
  align-items: center;
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
}

.header {
  background-color: #541554;
  padding: 2.4rem;
}

.hero {
  background-color: #541554;
  color: #fff;
  padding: 8rem 0;
}
.hero__content {
  padding: 2.5rem 0;
}
.hero__heading {
  font-size: 6rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.hero__heading span {
  color: #ecb22e;
}
.hero__text {
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: 500;
}
.hero__btns {
  display: flex;
  gap: 0.8rem;
}
.hero__vid video {
  width: 127%;
}

.featured {
  background-color: #f4ede4;
  padding: 4.8rem;
}
.featured__title {
  font-size: 1.4rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
}
.featured__logos {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 16rem;
}
.featured__logo {
  width: 100%;
  height: auto;
}

.features {
  background-color: #f4ede4;
  padding: 2.4rem 0 4.8rem 0;
}
.features__vid video {
  width: 100%;
}

.statistics {
  padding: 9.8rem 0 4.8rem 0;
}
.statistics__heading {
  text-align: center;
  margin-bottom: 1.6rem;
}
.statistics__title {
  font-size: 1.8rem;
  text-align: center;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.statistics__btns {
  margin-bottom: 7rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}
.statistics__numbers {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.statistics__box {
  max-width: 18rem;
}
.statistics__num {
  font-size: 6rem;
  color: #611f69;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.statistics__text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 700;
}

.testimonial {
  max-width: 153rem;
  margin: 0 auto;
  padding: 8rem 0 1.6rem 0;
}
.testimonial__note {
  font-size: 1.4rem;
  margin-top: 6.2rem;
  text-align: center;
}

.about {
  background-color: #f4ede4;
  padding: 6rem 0 8rem 0;
}
.about__heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.cta {
  padding: 11rem 0;
  text-align: center;
  background-color: #4a154b;
  clip-path: ellipse(75% 100% at center top);
}
.cta__heading {
  color: #fff;
}
.cta__btns {
  margin-top: 3.8rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
