@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 81em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 63.875em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  overflow-x: hidden;
}

.heading-secondary {
  font-size: 4.8rem;
  letter-spacing: -0.8px;
  color: #000;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 63.875em) {
  .heading-secondary {
    margin-bottom: 3rem;
  }
}

.margbtm-hero-big {
  margin-bottom: 5.6rem;
}

.margbtm-hero-smll {
  margin-top: 1.6rem;
}

.margbtm-z-pattern {
  margin-bottom: 10rem;
}
@media only screen and (max-width: 63.875em) {
  .margbtm-z-pattern {
    margin-bottom: 2rem;
  }
}

.about-box {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  padding: 1.3rem;
  background-color: #fff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
@media only screen and (max-width: 63.875em) {
  .about-box--justify {
    justify-self: end;
  }
}
@media only screen and (max-width: 63.875em) {
  .about-box {
    max-width: 28rem;
  }
}
.about-box:hover {
  transform: scale(1.05);
}
.about-box--head {
  background-color: #4a154b;
  color: #fff;
}
@media only screen and (max-width: 63.875em) {
  .about-box--head {
    justify-self: end;
  }
}
.about-box__img-box {
  margin-bottom: 2rem;
}
.about-box__img-box img {
  width: 100%;
}
.about-box__subheading {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.about-box__subheading--head {
  margin-top: 1.6rem;
}
.about-box__heading {
  font-size: 2.2rem;
  margin-bottom: 6rem;
}
.about-box__cta {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.about-box__cta-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #1264a3;
  font-weight: 700;
}
.about-box__cta-text--head {
  color: #fff;
}
.about-box__cta-icon {
  width: 2rem;
  height: 2rem;
  fill: #1264a3;
}
.about-box__cta-icon--head {
  fill: #fff;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  border-radius: 4px;
}
.btn:focus {
  outline: #611f69 dotted 2px;
  outline-offset: 5px;
}
.btn--primary:link, .btn--primary:visited {
  color: #611f69;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #611f69;
  transition: all 0.3s;
}
.btn--primary:hover {
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--primary:active, .btn--primary:focus {
  background-color: #611f69;
  color: #fff;
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--google {
  position: relative;
  padding-left: 6rem;
  padding-right: 2rem;
}
.btn--google img {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  background-color: #fff;
  padding: 1.3rem;
  top: 0.4rem;
  left: 0.4rem;
}
.btn--google:link, .btn--google:visited {
  color: #fff;
  background-color: #4285f4;
  transition: all 0.3s;
}
.btn--google:active, .btn--google:focus {
  color: #4285f4;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #4285f4;
}
.btn--violet:link, .btn--violet:visited {
  background-color: #611f69;
  color: #fff;
  transition: all 0.3s;
}
.btn--violet:hover, .btn--violet:active {
  background-color: #4a154b;
}
.btn--border-white:link, .btn--border-white:visited {
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
  transition: all 0.3s;
}
.btn--border-white:hover {
  box-shadow: inset 0 0 0 2px #fff;
}
.btn--border-white:active {
  background-color: #fff;
  color: #611f69;
  box-shadow: inset 0 0 0 2px #fff;
}
.btn--border-violet:link, .btn--border-violet:visited {
  box-shadow: inset 0 0 0 1px #611f69;
  transition: all 0.3s;
  color: #611f69;
}
.btn--border-violet:hover {
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--border-violet:active {
  background-color: #611f69;
  color: #fff;
  box-shadow: inset 0 0 0 2px #611f69;
}
.btn--small {
  padding: 1.4rem 1.4rem;
}
.btn__search {
  display: none;
}
@media only screen and (max-width: 70em) {
  .btn--nav-1 {
    display: none;
  }
}
@media only screen and (max-width: 63.875em) {
  .btn--nav-2 {
    display: none;
  }
}

.dropdown-menu {
  background-color: #fff;
  padding: 1rem 0;
  width: 22.5rem;
  border-radius: 8px;
  border: 1px solid #ebeaeb;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.dropdown-menu--search {
  width: 100%;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
.dropdown-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 0;
  overflow: hidden;
}
.dropdown-menu__list--gap {
  gap: 0;
}
.dropdown-menu__link:link, .dropdown-menu__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  width: 95%;
  padding: 0.6rem 0 0.6rem 1.5rem;
}
.dropdown-menu__download {
  margin-top: 1.8rem;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0 0.6rem 1.5rem;
}
.dropdown-menu__link:hover, .dropdown-menu__download:hover {
  background-color: #1264a3;
  color: #fff;
}
.dropdown-menu__download:hover .dropdown-menu__down-icon {
  fill: #fff;
}
.dropdown-menu__download::before {
  content: "";
  background-color: #ebeaeb;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 5rem;
  left: 0;
}
.dropdown-menu__down-icon {
  height: 1.8rem;
  width: 1.8rem;
}
.dropdown-menu__down-text {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3rem 0;
  font-weight: 500;
}
@media only screen and (max-width: 63.875em) {
  .feature-box {
    max-width: 51rem;
    margin: 1rem auto 0;
  }
  .feature-box--order {
    grid-row: 2/3;
  }
}
.feature-box__text {
  font-size: 1.8rem;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.link-btn:link, .link-btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #1264a3;
  text-decoration: none;
  position: relative;
}
.link-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  color: #1264a3;
  background-color: #1264a3;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.link-btn:hover::after {
  color: #000;
  transform: scaleX(1);
}

.search-bar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 1.2rem;
}
.search-bar__input {
  width: 100%;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 2.15rem 1.5rem;
  border-radius: 8px;
}
.search-bar__input::placeholder {
  font-size: 1.5rem;
}
.search-bar__dropdown-menu {
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease;
  top: 4.8rem;
  left: 0rem;
}
.search-bar__dropdown-menu--shown {
  display: block;
  position: absolute;
  opacity: 1;
  visibility: visible;
}
.search-bar__input:focus {
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
}
.search-bar__icon {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 1.6rem;
  right: 1.2rem;
  cursor: pointer;
}
.search-bar::before {
  content: "";
  background-color: #ebeaeb;
  width: 97%;
  height: 2px;
  position: absolute;
  top: 4.2rem;
  right: 1.4rem;
}

.story {
  display: grid;
  grid-template-columns: 50% 49%;
  gap: 1.6rem;
  align-items: center;
}
@media only screen and (max-width: 63.875em) {
  .story {
    grid-template-columns: 100%;
  }
}
.story__vid {
  position: relative;
}
.story__vid video {
  width: 100%;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.story__icon-play {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
  padding: 1.8rem 3rem;
  background-color: #36c5f0;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.story__vid:hover .story__icon-play {
  background-color: #1264a3;
}
.story__content {
  padding: 3.2rem 3.2rem 1.2rem 3.2rem;
}
.story__quote {
  font-size: 2.8rem;
  line-height: 1.4;
  letter-spacing: -0.3px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.6rem;
}
.story__customer {
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}
.story__customer-name {
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.story__customer-title {
  font-weight: 400;
}

.footer {
  padding: 5.6rem 0 3.2rem 0;
}
@media only screen and (max-width: 63.875em) {
  .footer {
    padding: 5.6rem 3rem 3.2rem 3rem;
  }
}
.footer__container {
  width: 100%;
}
.footer__flex {
  display: flex;
  gap: 14.5rem;
}
.footer__logo {
  width: 5.4rem;
  height: 5.4rem;
}
.footer__list {
  list-style: none;
  font-size: 1.4rem;
}
.footer__column {
  display: block;
}
.footer__list-heading {
  margin-bottom: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__list-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:active {
  color: #1264a3;
}
.footer__terms {
  margin-top: 9rem;
  margin-bottom: 3.2rem;
}
.footer__terms-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
}
.footer__terms-container::before {
  content: "";
  background-color: #ebeaeb;
  width: 100%;
  height: 2px;
  position: absolute;
  top: -3.2rem;
}
.footer__terms-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.footer__terms-link:link, .footer__terms-link:visited {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}
.footer__terms-link:hover, .footer__terms-link:active {
  color: #1264a3;
  fill: #1264a3;
}
.footer__link-flex {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.footer__icon-world {
  width: 1.6rem;
  height: 1.6rem;
}
.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
}
.footer__download {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  gap: 0.4rem;
}
.footer__download-icon {
  width: 2rem;
  height: 2rem;
  fill: #1264a3;
}
.footer__download-text {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #1264a3;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.footer__social-link:link, .footer__social-link:visited {
  text-decoration: none;
  transition: all 0.3s;
}
.footer__social-link:hover, .footer__social-link:active {
  fill: #1264a3;
}
.footer__social-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.footer__legal-text {
  font-size: 1.2rem;
}

.grid-hero {
  display: grid;
  grid-template-columns: 53% 45%;
  gap: 2%;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 48.3% 40%;
  gap: 14.5rem;
  align-items: center;
}
.grid-2-col--inverse {
  grid-template-columns: 40% 48.3%;
}
@media only screen and (max-width: 63.875em) {
  .grid-2-col {
    grid-template-columns: 100%;
    gap: 0;
  }
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media only screen and (max-width: 63.875em) {
  .grid-4-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-5-col {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header {
  background-color: #541554;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  height: 4.4rem;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 4vw;
  justify-content: space-between;
}
@media only screen and (max-width: 81em) {
  .header__container {
    gap: 0;
  }
}
.header__logo-nav {
  display: flex;
  gap: 3rem;
}
.header__logo {
  height: 2.5rem;
  width: auto;
  display: inline-block;
}
.header__logo-hidden {
  display: none;
}
.header__logo-sticky {
  height: 4.8rem;
  width: auto;
}
@media only screen and (max-width: 63.875em) {
  .header__logo-sticky {
    margin-left: 4rem;
  }
}

.nav {
  display: block;
  width: 90vw;
}
.nav__container {
  max-width: 123rem;
}
.nav__sticky {
  position: fixed;
  background-color: #fff;
  padding: 1.8rem 3.6rem;
  border-radius: 50px;
  box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.08);
  z-index: 1000;
  top: 1rem;
  animation: slideDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media only screen and (max-width: 63.875em) {
  .nav__sticky {
    border-radius: 0;
    top: 0;
    width: 100%;
  }
}
.nav__sticky--padding {
  padding: 1.4rem 3.6rem;
}
.nav__links {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 63.875em) {
  .nav__links {
    display: none;
  }
}
.nav__nav-bar {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
}
.nav__link:link, .nav__link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.1rem;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  border-bottom: 1px solid #fff;
}
.nav__link--black:link, .nav__link--black:visited {
  color: #000;
}
.nav__link--black:hover, .nav__link--black:active {
  border-bottom: 1px solid #000;
}
.nav__link--hide {
  display: none;
}
@media only screen and (max-width: 63.875em) {
  .nav__link-hide {
    display: none;
  }
}
.nav__dropdown-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
  transition: visibility 0.3s, opacity 0.3s ease, transform 0.5s cubic-bezier(0.33, 0, 0.6, 1.58);
}
.nav__link-dropdown {
  display: flex;
  gap: 0.5rem;
}
.nav__link-dropdown:hover, .nav__link-dropdown:active {
  border-bottom: none;
}
.nav__dropdown-parent {
  position: relative;
}
.nav__dropdown-parent:hover .nav__dropdown-menu {
  display: block;
  position: absolute;
  left: -1rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav__dropdown-icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: #fff;
  transform: translateY(-0.2rem);
  transition: all 0.1s;
}
.nav__dropdown-icon--black {
  fill: #000;
}
.nav__dropdown-parent:hover .nav__dropdown-icon {
  transform: translateY(-0.2rem) rotate(180deg);
}
.nav__search-icon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
  transform: translateY(0.2rem);
}
.nav__search-icon--black {
  fill: #000;
}
@media only screen and (max-width: 63.875em) {
  .nav__sticky .nav__btns {
    margin-right: 4rem;
  }
}
.nav__btns {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}
.nav__cta-btns {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 63.875em) {
  .nav__cta-btns {
    display: none;
  }
}
.nav__search-bar {
  display: none;
  width: 100%;
}
.nav__menu-icon {
  display: none;
}
@media only screen and (max-width: 70em) {
  .nav__menu-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: #fff;
  }
}

.container {
  max-width: 123rem;
  margin: 0 auto;
}
@media only screen and (max-width: 70em) {
  .container {
    max-width: 105rem;
  }
}

.hero {
  background-color: #541554;
  color: #fff;
  padding: 12rem 0;
  overflow: hidden;
}
@media only screen and (max-width: 63.875em) {
  .hero {
    padding: 12rem 3rem;
  }
}
.hero__content {
  padding: 2.5rem 0;
}
.hero__heading {
  font-size: 6rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.hero__heading span {
  color: #ecb22e;
}
.hero__text {
  font-size: 1.9rem;
  line-height: 1.4;
  font-weight: 500;
}
.hero__btns {
  display: flex;
  gap: 0.8rem;
}
@media only screen and (max-width: 63.875em) {
  .hero__btns {
    flex-direction: column;
    text-align: center;
    gap: 1.6rem;
  }
}
.hero__vid video {
  max-width: 70rem;
  max-height: 40rem;
}

.featured {
  background-color: #f4ede4;
  padding: 4.8rem;
}
.featured__title {
  font-size: 1.4rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
}
.featured__logos {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 16rem;
}
@media only screen and (max-width: 70em) {
  .featured__logos {
    padding: 0;
  }
}
.featured__logo {
  width: 100%;
  height: auto;
}

.features {
  background-color: #f4ede4;
  padding: 2.4rem 0 4.8rem 0;
}
.features__vid video {
  width: 100%;
  max-height: 40rem;
}

.statistics {
  padding: 9.8rem 0 4.8rem 0;
}
.statistics__heading {
  text-align: center;
  margin-bottom: 1.6rem;
}
.statistics__title {
  font-size: 1.8rem;
  text-align: center;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.statistics__btns {
  margin-bottom: 7rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}
.statistics__numbers {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.statistics__box {
  max-width: 18rem;
}
.statistics__num {
  font-size: 6rem;
  color: #611f69;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.statistics__text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 700;
}

.testimonial {
  max-width: 153rem;
  margin: 0 auto;
  padding: 8rem 0 1.6rem 0;
}
@media only screen and (max-width: 63.875em) {
  .testimonial {
    padding: 1.5rem 3.5rem 1.6rem 0;
  }
}
.testimonial__note {
  font-size: 1.4rem;
  margin-top: 6.2rem;
  text-align: center;
}

.about {
  background-color: #f4ede4;
  padding: 6rem 0 8rem 0;
}
.about__heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.cta {
  padding: 11rem 0;
  text-align: center;
  background-color: #4a154b;
  clip-path: ellipse(75% 100% at center top);
}
.cta__heading {
  color: #fff;
}
.cta__btns {
  margin-top: 3.8rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}
@media only screen and (max-width: 63.875em) {
  .cta__btns {
    flex-direction: column;
    width: 68%;
    margin: 0 auto;
    gap: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
