.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  border-radius: 4px;
  &:focus {
    outline: $color-primary-light dotted 2px;
    outline-offset: 5px;
  }
  &--primary:link,
  &--primary:visited {
    color: $color-primary-light;
    background-color: $color-white;
    box-shadow: inset 0 0 0 1px $color-primary-light;
    transition: all 0.3s;
  }

  &--primary:hover {
    box-shadow: inset 0 0 0 2px $color-primary-light;
  }
  &--primary:active,
  &--primary:focus {
    background-color: $color-primary-light;
    color: $color-white;
    box-shadow: inset 0 0 0 2px $color-primary-light;
  }
  &--google {
    position: relative;
    padding-left: 6rem;
    padding-right: 2rem;
    img {
      width: 2.3rem;
      height: 2.3rem;
      position: absolute;
      background-color: $color-white;
      padding: 1.3rem;
      top: 0.4rem;
      left: 0.4rem;
    }
  }
  &--google:link,
  &--google:visited {
    color: $color-white;
    background-color: $color-blue;
    transition: all 0.3s;
  }

  &--google:active,
  &--google:focus {
    color: $color-blue;
    background-color: $color-white;
    box-shadow: inset 0 0 0 2px $color-blue;
  }

  &--violet:link,
  &--violet:visited {
    background-color: $color-primary-light;
    color: $color-white;
    transition: all 0.3s;
  }
  &--violet:hover,
  &--violet:active {
    background-color: $color-primary-dark;
  }

  &--border-white:link,
  &--border-white:visited {
    box-shadow: inset 0 0 0 1px $color-white;
    color: $color-white;
    transition: all 0.3s;
  }
  &--border-white:hover {
    box-shadow: inset 0 0 0 2px $color-white;
  }
  &--border-white:active {
    background-color: $color-white;
    color: $color-primary-light;
    box-shadow: inset 0 0 0 2px $color-white;
  }

  &--border-violet:link,
  &--border-violet:visited {
    box-shadow: inset 0 0 0 1px $color-primary-light;
    transition: all 0.3s;
    color: $color-primary-light;
  }
  &--border-violet:hover {
    box-shadow: inset 0 0 0 2px $color-primary-light;
  }
  &--border-violet:active {
    background-color: $color-primary-light;
    color: $color-white;
    box-shadow: inset 0 0 0 2px $color-primary-light;
  }

  &--small {
    padding: 1.4rem 1.4rem;
  }
  &__search {
    display: none;
    @include respond(tab-small) {
      display: none !important;
    }
  }

  &--nav-1 {
    @include respond(tab-port) {
      display: none;
    }
  }

  &--nav-2 {
    @include respond(tab-small) {
      display: none;
    }
  }

  &--mobile-nav {
    font-size: 1.6rem;
    padding: 2.2rem 4rem;
  }
}
