.heading-secondary {
  font-size: 4.8rem;
  letter-spacing: -0.8px;
  color: $color-black;
  margin-bottom: 1.6rem;

  @include respond(tab-small) {
    margin-bottom: 3rem;
  }

  @include respond(phone) {
    font-size: 3.6rem;
  }
}
