.margbtm-hero-big {
  margin-bottom: 5.6rem;
}

.margbtm-hero-smll {
  margin-top: 1.6rem;
}

.padding-left {
  padding-left: 7.2rem !important;
}

.padding-right {
  padding-right: 7.2rem !important;
}
