.container {
  max-width: 123rem;
  margin: 0 auto;
}

.header {
  background-color: $color-primary;
  padding: 2.4rem;
}

.hero {
  background-color: $color-primary;
  color: $color-white;
  padding: 8rem 0;

  &__content {
    padding: 2.5rem 0;
  }

  &__heading {
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    span {
      color: $color-yellow;
    }
  }

  &__text {
    font-size: 1.9rem;
    line-height: 1.4;
    font-weight: 500;
  }

  &__btns {
    display: flex;
    gap: 0.8rem;
  }

  &__vid {
    video {
      width: 127%;
    }
  }
}

.featured {
  background-color: $color-biege;
  padding: 4.8rem;
  &__title {
    font-size: 1.4rem;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  &__logos {
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 16rem;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}

.features {
  background-color: $color-biege;
  padding: 2.4rem 0 4.8rem 0;

  &__vid {
    video {
      width: 100%;
    }
  }
}

.statistics {
  padding: 9.8rem 0 4.8rem 0;
  &__heading {
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    text-align: center;
    color: $color-black;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3.2rem;
  }

  &__btns {
    margin-bottom: 7rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
  }

  &__numbers {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  &__box {
    max-width: 18rem;
  }

  &__num {
    font-size: 6rem;
    color: $color-primary-light;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
  }
}

.testimonial {
  max-width: 153rem;
  margin: 0 auto;
  padding: 8rem 0 1.6rem 0;

  &__note {
    font-size: 1.4rem;
    margin-top: 6.2rem;
    text-align: center;
  }
}
