.container {
  max-width: 123rem;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 105rem;
  }
}

.hero {
  background-color: $color-primary;
  color: $color-white;
  padding: 12rem 0;
  overflow: hidden;

  @include respond(tab-small) {
    padding: 12rem 3rem;
  }

  @include respond(phone) {
    padding: 5rem 3rem;
  }

  &__content {
    padding: 2.5rem 0;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__heading {
    font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    span {
      color: $color-yellow;
    }
  }

  &__text {
    font-size: 1.9rem;
    line-height: 1.4;
    font-weight: 500;
  }

  &__btns {
    display: flex;
    gap: 0.8rem;

    @include respond(tab-small) {
      flex-direction: column;
      text-align: center;
      gap: 1.6rem;
    }
  }

  &__vid {
    video {
      max-width: 70rem;
      max-height: 40rem;
      @include respond(smaller-phone) {
        max-width: 45rem;
      }
    }
  }
}

.featured {
  background-color: $color-biege;
  padding: 4.8rem;
  &__title {
    font-size: 1.4rem;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  &__logos {
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 16rem;
    @include respond(tab-port) {
      padding: 0;
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}

.features {
  background-color: $color-biege;
  padding: 2.4rem 0 4.8rem 0;

  &__vid {
    video {
      width: 100%;
      max-height: 40rem;
    }
  }
}
.statistics {
  padding: 9.8rem 0 4.8rem 0;
  &__heading {
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    text-align: center;
    color: $color-black;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3.2rem;
  }

  &__btns {
    margin-bottom: 7rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
      margin: 0 3rem;
      gap: 1.8rem;
    }
  }

  &__numbers {
    display: flex;
    justify-content: space-around;
    list-style: none;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      margin-top: 8rem;
      text-align: center;
    }
  }
  &__box {
    max-width: 18rem;
  }

  &__num {
    font-size: 6rem;
    color: $color-primary-light;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
  }
}

.testimonial {
  max-width: 153rem;
  margin: 0 auto;
  padding: 8rem 0 1.6rem 0;

  @include respond(tab-small) {
    padding: 1.6rem 0;
  }

  &__note {
    font-size: 1.4rem;
    margin-top: 6.2rem;
    text-align: center;
  }
}

.about {
  background-color: $color-biege;
  padding: 6rem 0 8rem 0;

  &__heading {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 3.2rem;

    @include respond(phone) {
      font-size: 2.8rem;
    }
  }
}

.cta {
  padding: 11rem 0;
  text-align: center;
  background-color: $color-primary-dark;
  clip-path: ellipse(75% 100% at center top);

  &__heading {
    color: $color-white;
  }

  &__btns {
    margin-top: 3.8rem;
    display: flex;
    gap: 0.8rem;
    justify-content: center;

    @include respond(tab-small) {
      flex-direction: column;
      width: 68%;
      margin: 0 auto;
      gap: 1.6rem;
    }
  }
}
