.header {
  background-color: $color-primary;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  height: 4.4rem;
  &__container {
    display: flex;
    align-items: center;
    gap: 4vw;
    justify-content: space-between;

    @include respond(laptop) {
      gap: 0;
    }
  }

  &__logo-nav {
    display: flex;
    gap: 3rem;
  }
  &__logo {
    height: 2.5rem;
    width: auto;
    display: inline-block;
  }

  &__logo-hidden {
    display: none;
  }

  &__logo-sticky {
    height: 4.8rem;
    width: auto;

    @include respond(tab-small) {
      margin-left: 4rem;
    }
  }
}
