.header {
  background-color: $color-primary;
  padding: 2rem 0;

  &__container {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-nav {
    display: flex;
    gap: 3rem;
  }
  &__logo {
    height: 2.5rem;
    width: auto;
  }
}
